
.idea/KingDomino.iml
.idea/misc.xml
__pycache__/HelperFunctions.cpython-39.pyc
*.pyc
.idea/KingDomino.iml
.idea/misc.xml
.idea/KingDomino.iml
.idea/misc.xml
__pycache__/TerritoryName.cpython-39.pyc
__pycache__/PrepareTileForTest.cpython-39.pyc
__pycache__/MergeDominantColourImages.cpython-39.pyc
__pycache__/HelperFunctions.cpython-39.pyc
__pycache__/DominantColourFinder.cpython-39.pyc
__pycache__/DivideimageIntoParts.cpython-39.pyc
.idea/misc.xml
.idea/KingDomino.iml
